# don't commit the steam reviews dataset
/data/train_gr/
/data/test_gr/
# latex output
*.aux
*.log
*.out
*.pdf

# stupid mac files
.DS_Store

# personal setup for vim
/.exrc/

# generated when transformers api pulls model from huggingface-hub 
/huggingface-hub/
cardiffnlp/

# manual ipy notebook saves, only i need this
/.ipynb_checkpoints

results/*.png
